---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About">
      <!-- About Us Section -->
     
      <section class="py-16 bg-secondary/5 dark:bg-dark-secondary/5 rounded-xl">
        <div class="max-w-4xl mx-auto px-4">
          <h2 class="text-3xl font-bold text-center mb-8">About Us!</h2>
            
            <!-- TODO -->

</Layout>